valid_items:
  - key: layout
    type: string
    valid_values:
      - archive
      - landing-page
      - not-found
  - key: navigation_title
    type: string
  - key: description
    type: string
  - key: mapped_pages
    type: array
  - key: applies_to
    type: object
    children:
      - key: stack
        type: string
      - key: deployment
        type: object
        children:
          - key: eck
            type: string
          - key: ess
            type: string
          - key: ece
            type: string
          - key: self
            type: string
      - key: serverless
        type: object
        children:
          - key: security
            type: string
          - key: elasticsearch
            type: string
          - key: observability
            type: string
      - key: product
        type: string
  - key: products
    type: array
    valid_values:
      - apm
      - apm-dotnet-agent
      - apm-android-agent
      - apm-attacher
      - apm-aws-lambda-extension
      - apm-go-agent
      - apm-ios-agent
      - apm-java-agent
      - apm-node-agent
      - apm-php-agent
      - apm-python-agent
      - apm-ruby-agent
      - apm-rum-agent
      - beats-logging-plugin
      - cloud-control-ecctl
      - cloud-enterprise
      - cloud-hosted
      - cloud-kubernetes
      - cloud-native-ingest
      - cloud-serverless
      - cloud-terraform
      - ecs-logging
      - ecs-logging-dotnet
      - ecs-logging-go-logrus
      - ecs-logging-go-zap
      - ecs-logging-go-zerolog
      - ecs-logging-java
      - ecs-logging-node
      - ecs-logging-php
      - ecs-logging-python
      - ecs-logging-ruby
      - elastic-agent
      - ecs
      - elastic-products-platform
      - elastic-stack
      - elasticsearch
      - elasticsearch-dotnet-client
      - elasticsearch-apache-hadoop
      - elasticsearch-cloud-hosted-heroku
      - elasticsearch-community-clients
      - elasticsearch-curator
      - elasticsearch-eland-python-client
      - elasticsearch-go-client
      - elasticsearch-groovy-client
      - elasticsearch-java-client
      - elasticsearch-java-script-client
      - elasticsearch-painless-scripting-language
      - elasticsearch-perl-client
      - elasticsearch-php-client
      - elasticsearch-plugins
      - elasticsearch-python-client
      - elasticsearch-resiliency-status
      - elasticsearch-ruby-client
      - elasticsearch-rust-client
      - fleet
      - ingest
      - integrations
      - kibana
      - logstash
      - machine-learning
      - observability
      - reference-architectures
      - search-ui
      - security
  - key: sub
    type: object
