name: docs-build

on:
  push:
    branches:
      - main
  pull_request_target: ~

jobs:
  preview:
    uses: elastic/docs-builder/.github/workflows/preview-build.yml@main
    enable-vale-linting: true
    with:
      continue-on-error: false
      strict: true
    permissions:
      deployments: write
      id-token: write
      contents: read
      pull-requests: write
